body {
	margin: 0;
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

a {
	color: black;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Georgia;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

.stories {
	display: flex;
	justify-content: space-between;
	margin-top: 17px;
}

.stories .text-content {
	height: 250px;
}

.story {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.narrative {
	margin-top: 16px;
}

.image-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin-top: 15px;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
}