.main {
	grid-area: main;
	padding-top: 5rem;
	padding-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
	.main {
		display: grid;
		grid-template-areas:
			'headline headline'
			'story2 story4'
			'story3 story5';
		grid-gap: 20px;
		padding-top: 3rem;
	}
}

.headline {
	grid-area: headline;
}

.story2 {
	grid-area: story2;
}
.story3 {
	grid-area: story3;
}
.story4 {
	grid-area: story4;
}
.story5 {
	grid-area: story5;
}

.headline .story-img {
	background-image: url('../img/headline.png');
	font-size: 40px;
	text-align: left;
}

.story3 .story-img {
	background-image: url('../img/story3.png');
}

.story5 .story-img {
	background-image: url('../img/story5.png');
}